In [6]:
import os
import pickle

file_path = '/Users/humberto/Downloads/covid_sample-0.0001.pkl'
if os.path.exists(file_path):
    try:
        with open(file_path, 'rb') as file:
            data = pickle.load(file)
            print("File loaded successfully.")

File loaded successfully.

In [13]:
import pandas as pd

if isinstance(data, pd.DataFrame):
    # Display the first few rows of the DataFrame
    print(data.head())
    # Get more info about the DataFrame structure
    print(data.info())

                   tweetid               userid      screen_name  \
29075  1440152419048955908  1389342585823584263  josephc14074803
17272  1347878795554918403            440160509      Iela_Strika
38446  1271326636760162304  1022641129655742467          YngShvy
16418  1279673408905756672            260230964     jennycoady10
53175  1342267014686109701            281225798     certezamente

                                 date lang                   location  \
29075  Tue Sep 21 03:14:28 +0000 2021   en                        NaN
17272  Sat Jan 09 12:12:01 +0000 2021   en  Malaysia--Pahang--Kuantan
38446  Fri Jun 12 06:21:04 +0000 2020   en                 Outerspace
16418  Sun Jul 05 07:08:10 +0000 2020   en            London, England
53175  Fri Dec 25 00:32:49 +0000 2020   en                   Portugal

               place_id                                          place_url  \
29075               NaN                                                NaN
17272               NaN                                                NaN
38446               NaN                                                NaN
16418  135989ad972a5d9d  https://api.twitter.com/1.1/geo/id/135989ad972...
53175               NaN                                                NaN

      place_type place_name  ... rt_country qtd_state qtd_country  \
29075        NaN        NaN  ...        NaN       NaN         NaN
17272        NaN        NaN  ...        NaN       NaN         NaN
38446        NaN        NaN  ...        NaN       NaN         NaN
16418       city    Bromley  ...        NaN       NaN         NaN
53175        NaN        NaN  ...        NaN       NaN         NaN

         norm_country norm_rt_country norm_qtd_country  \
29075             NaN             NaN              NaN
17272             NaN             NaN              NaN
38446             NaN             NaN              NaN
16418  United Kingdom             NaN              NaN
53175        Portugal             NaN              NaN

                                             description  rt_user_description  \
29075  A Grateful Dead Head, Not a head that's dead. ...                  NaN
17272                                                NaN                  NaN
38446                                                NaN                  NaN
16418                                                NaN                  NaN
53175                                                NaN                  NaN

      qtd_user_description  acc_age
29075                  NaN      NaN
17272                  NaN      NaN
38446                  NaN      NaN
16418                  NaN      NaN
53175                  NaN      NaN

[5 rows x 76 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 189969 entries, 29075 to 9549
Data columns (total 76 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tweetid                189969 non-null  int64
 1   userid                 189969 non-null  int64
 2   screen_name            189969 non-null  object
 3   date                   189969 non-null  object
 4   lang                   189969 non-null  object
 5   location               117714 non-null  object
 6   place_id               1277 non-null    object
 7   place_url              1277 non-null    object
 8   place_type             1277 non-null    object
 9   place_name             1277 non-null    object
 10  place_full_name        1277 non-null    object
 11  place_country_code     1273 non-null    object
 12  place_country          1277 non-null    object
 13  place_bounding_box     1277 non-null    object
 14  text                   189969 non-null  object
 15  extended               189969 non-null  object
 16  coord                  47 non-null      object
 17  reply_userid           20085 non-null   float64
 18  reply_screen           20085 non-null   object
 19  reply_statusid         20085 non-null   float64
 20  tweet_type             189969 non-null  object
 21  friends_count          189969 non-null  int64
 22  listed_count           189969 non-null  float64
 23  followers_count        189969 non-null  int64
 24  favourites_count       189969 non-null  int64
 25  statuses_count         189969 non-null  int64
 26  verified               189969 non-null  bool
 27  hashtag                189969 non-null  object
 28  urls_list              189969 non-null  object
 29  profile_pic_url        142707 non-null  object
 30  profile_banner_url     142707 non-null  object
 31  display_name           189958 non-null  object
 32  date_first_tweet       189969 non-null  object
 33  account_creation_date  189969 non-null  object
 34  rt_urls_list           189969 non-null  object
 35  mentionid              189969 non-null  object
 36  mentionsn              189969 non-null  object
 37  rt_screen              107210 non-null  object
 38  rt_userid              107210 non-null  float64
 39  rt_text                134070 non-null  object
 40  rt_hashtag             189969 non-null  object
 41  rt_qtd_count           189969 non-null  int64
 42  rt_rt_count            189969 non-null  float64
 43  rt_reply_count         189969 non-null  float64
 44  rt_fav_count           189969 non-null  float64
 45  rt_tweetid             134070 non-null  float64
 46  rt_location            82729 non-null   object
 47  qtd_screen             40557 non-null   object
 48  qtd_userid             40557 non-null   float64
 49  qtd_text               41440 non-null   object
 50  qtd_hashtag            189969 non-null  object
 51  qtd_qtd_count          189969 non-null  int64
 52  qtd_rt_count           189969 non-null  float64
 53  qtd_reply_count        189969 non-null  float64
 54  qtd_fav_count          189969 non-null  float64
 55  qtd_tweetid            41440 non-null   float64
 56  qtd_urls_list          189969 non-null  object
 57  qtd_location           32027 non-null   object
 58  sent_vader             189969 non-null  float64
 59  token                  189550 non-null  object
 60  media_urls             189969 non-null  object
 61  rt_media_urls          189969 non-null  object
 62  q_media_urls           189969 non-null  object
 63  state                  31858 non-null   object
 64  country                72512 non-null   object
 65  rt_state               26316 non-null   object
 66  rt_country             56954 non-null   object
 67  qtd_state              11703 non-null   object
 68  qtd_country            23566 non-null   object
 69  norm_country           72512 non-null   object
 70  norm_rt_country        56954 non-null   object
 71  norm_qtd_country       23566 non-null   object
 72  description            83041 non-null   object
 73  rt_user_description    55160 non-null   object
 74  qtd_user_description   21011 non-null   object
 75  acc_age                45523 non-null   float64
dtypes: bool(1), float64(15), int64(8), object(52)
memory usage: 110.3+ MB
None

In [14]:
print(data.columns)

Index(['tweetid', 'userid', 'screen_name', 'date', 'lang', 'location',
       'place_id', 'place_url', 'place_type', 'place_name', 'place_full_name',
       'place_country_code', 'place_country', 'place_bounding_box', 'text',
       'extended', 'coord', 'reply_userid', 'reply_screen', 'reply_statusid',
       'tweet_type', 'friends_count', 'listed_count', 'followers_count',
       'favourites_count', 'statuses_count', 'verified', 'hashtag',
       'urls_list', 'profile_pic_url', 'profile_banner_url', 'display_name',
       'date_first_tweet', 'account_creation_date', 'rt_urls_list',
       'mentionid', 'mentionsn', 'rt_screen', 'rt_userid', 'rt_text',
       'rt_hashtag', 'rt_qtd_count', 'rt_rt_count', 'rt_reply_count',
       'rt_fav_count', 'rt_tweetid', 'rt_location', 'qtd_screen', 'qtd_userid',
       'qtd_text', 'qtd_hashtag', 'qtd_qtd_count', 'qtd_rt_count',
       'qtd_reply_count', 'qtd_fav_count', 'qtd_tweetid', 'qtd_urls_list',
       'qtd_location', 'sent_vader', 'token', 'media_urls', 'rt_media_urls',
       'q_media_urls', 'state', 'country', 'rt_state', 'rt_country',
       'qtd_state', 'qtd_country', 'norm_country', 'norm_rt_country',
       'norm_qtd_country', 'description', 'rt_user_description',
       'qtd_user_description', 'acc_age'],
      dtype='object')

In [16]:
print(data.info())
print(data.describe())

# Check for null values
print(data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Index: 189969 entries, 29075 to 9549
Data columns (total 76 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   tweetid                189969 non-null  int64
 1   userid                 189969 non-null  int64
 2   screen_name            189969 non-null  object
 3   date                   189969 non-null  object
 4   lang                   189969 non-null  object
 5   location               117714 non-null  object
 6   place_id               1277 non-null    object
 7   place_url              1277 non-null    object
 8   place_type             1277 non-null    object
 9   place_name             1277 non-null    object
 10  place_full_name        1277 non-null    object
 11  place_country_code     1273 non-null    object
 12  place_country          1277 non-null    object
 13  place_bounding_box     1277 non-null    object
 14  text                   189969 non-null  object
 15  extended               189969 non-null  object
 16  coord                  47 non-null      object
 17  reply_userid           20085 non-null   float64
 18  reply_screen           20085 non-null   object
 19  reply_statusid         20085 non-null   float64
 20  tweet_type             189969 non-null  object
 21  friends_count          189969 non-null  int64
 22  listed_count           189969 non-null  float64
 23  followers_count        189969 non-null  int64
 24  favourites_count       189969 non-null  int64
 25  statuses_count         189969 non-null  int64
 26  verified               189969 non-null  bool
 27  hashtag                189969 non-null  object
 28  urls_list              189969 non-null  object
 29  profile_pic_url        142707 non-null  object
 30  profile_banner_url     142707 non-null  object
 31  display_name           189958 non-null  object
 32  date_first_tweet       189969 non-null  object
 33  account_creation_date  189969 non-null  object
 34  rt_urls_list           189969 non-null  object
 35  mentionid              189969 non-null  object
 36  mentionsn              189969 non-null  object
 37  rt_screen              107210 non-null  object
 38  rt_userid              107210 non-null  float64
 39  rt_text                134070 non-null  object
 40  rt_hashtag             189969 non-null  object
 41  rt_qtd_count           189969 non-null  int64
 42  rt_rt_count            189969 non-null  float64
 43  rt_reply_count         189969 non-null  float64
 44  rt_fav_count           189969 non-null  float64
 45  rt_tweetid             134070 non-null  float64
 46  rt_location            82729 non-null   object
 47  qtd_screen             40557 non-null   object
 48  qtd_userid             40557 non-null   float64
 49  qtd_text               41440 non-null   object
 50  qtd_hashtag            189969 non-null  object
 51  qtd_qtd_count          189969 non-null  int64
 52  qtd_rt_count           189969 non-null  float64
 53  qtd_reply_count        189969 non-null  float64
 54  qtd_fav_count          189969 non-null  float64
 55  qtd_tweetid            41440 non-null   float64
 56  qtd_urls_list          189969 non-null  object
 57  qtd_location           32027 non-null   object
 58  sent_vader             189969 non-null  float64
 59  token                  189550 non-null  object
 60  media_urls             189969 non-null  object
 61  rt_media_urls          189969 non-null  object
 62  q_media_urls           189969 non-null  object
 63  state                  31858 non-null   object
 64  country                72512 non-null   object
 65  rt_state               26316 non-null   object
 66  rt_country             56954 non-null   object
 67  qtd_state              11703 non-null   object
 68  qtd_country            23566 non-null   object
 69  norm_country           72512 non-null   object
 70  norm_rt_country        56954 non-null   object
 71  norm_qtd_country       23566 non-null   object
 72  description            83041 non-null   object
 73  rt_user_description    55160 non-null   object
 74  qtd_user_description   21011 non-null   object
 75  acc_age                45523 non-null   float64
dtypes: bool(1), float64(15), int64(8), object(52)
memory usage: 110.3+ MB
None
            tweetid        userid  reply_userid  reply_statusid  \
count  1.899690e+05  1.899690e+05  2.008500e+04    2.008500e+04
mean   1.387958e+18  5.360409e+17  4.237908e+17    1.401193e+18
std    8.127138e+16  5.874406e+17  5.692138e+17    8.095254e+16
min    1.220067e+18  4.220000e+02  5.282000e+03    6.394258e+17
25%    1.317052e+18  3.773336e+08  1.004014e+08    1.331258e+18
50%    1.396056e+18  3.383116e+09  1.339614e+09    1.412143e+18
75%    1.453083e+18  1.166026e+18  1.045976e+18    1.473145e+18
max    1.542296e+18  1.542073e+18  1.537071e+18    1.542295e+18

       friends_count   listed_count  followers_count  favourites_count  \
count  189969.000000  189969.000000     1.899690e+05      1.899690e+05
mean     1653.861704      63.436608     1.213342e+04      4.308147e+04
std      5771.587016    1273.300793     3.440771e+05      8.375425e+04
min         0.000000       0.000000     0.000000e+00      0.000000e+00
25%       191.000000       0.000000     9.400000e+01      2.278000e+03
50%       547.000000       1.000000     3.810000e+02      1.274100e+04
75%      1576.000000      10.000000     1.422000e+03      4.640300e+04
max    663052.000000  205887.000000     5.301328e+07      2.796002e+06

       statuses_count     rt_userid  ...  rt_fav_count    rt_tweetid  \
count    1.899690e+05  1.072100e+05  ...  1.899690e+05  1.340700e+05
mean     5.185523e+04  3.643219e+17  ...  8.775422e+03  1.384153e+18
std      1.412065e+05  5.365321e+17  ...  4.635121e+04  8.205483e+16
min      1.000000e+00  1.200000e+01  ...  0.000000e+00  6.269230e+09
25%      3.258000e+03  7.894283e+07  ...  0.000000e+00  1.312837e+18
50%      1.434700e+04  8.109433e+08  ...  4.300000e+01  1.393020e+18
75%      4.985600e+04  9.079556e+17  ...  1.212000e+03  1.448582e+18
max      2.862071e+07  1.541255e+18  ...  1.814484e+06  1.542291e+18

         qtd_userid  qtd_qtd_count   qtd_rt_count  qtd_reply_count  \
count  4.055700e+04  189969.000000  189969.000000    189969.000000
mean   2.870292e+17     286.982487     629.336665       293.890056
std    5.001638e+17    5606.785622    6324.815986      5707.923474
min    1.192000e+03       0.000000       0.000000         0.000000
25%    3.105890e+07       0.000000       0.000000         0.000000
50%    3.013094e+08       0.000000       0.000000         0.000000
75%    7.267670e+17       0.000000       0.000000         0.000000
max    1.539083e+18  502350.000000  454447.000000    573337.000000

       qtd_fav_count   qtd_tweetid     sent_vader       acc_age
count   1.899690e+05  4.144000e+04  189969.000000  45523.000000
mean    2.153507e+03  1.383414e+18      -0.014726   2183.224370
std     2.375925e+04  8.404019e+16       0.513522   1624.591141
min     0.000000e+00  2.731011e+17      -0.998800      0.000000
25%     0.000000e+00  1.314575e+18      -0.421500    578.000000
50%     0.000000e+00  1.392913e+18       0.000000   2046.000000
75%     0.000000e+00  1.446956e+18       0.394500   3703.000000
max     1.886124e+06  1.542288e+18       0.999800   5715.000000

[8 rows x 23 columns]
tweetid                      0
userid                       0
screen_name                  0
date                         0
lang                         0
                         ...
norm_qtd_country        166403
description             106928
rt_user_description     134809
qtd_user_description    168958
acc_age                 144446
Length: 76, dtype: int64